<div class="section light wf-section">
    <div class="w-container">
      <h2 class="heading h2">Hire Secretariat to create an effective, compelling video to drive results and grow your business.</h2>
      <div class="content mb20 w-richtext">
        <p>We believe in creating incredible video work — no matter the project, industry or client.</p>
        <p>Together, we'll work to develop a compelling narrative that connects with your audience and drives results for your organization. We'll work closely with you to make sure we understand the unique strengths of your organization and how they can be best expressed through video. </p>
        <p>Contact us today and let's make it happen.</p>
      </div>
      <a href="/contact" class="btn cta w-button">Contact Us</a>
    </div>
</div>
