<div class="c-siteheader">
    <div class="header wf-section">
        <div class="header-div">
            <div class="logo-wrap">
                <!-- <img src="/static/images/flourish-white.svg" loading="lazy" alt="" class="flourish"> -->
                <!-- <div class="logo-text">Secretariat</div> -->
                <!-- <img src="/static/images/flourish-white.svg" loading="lazy" alt="" class="flourish flourish__right"> -->
                <img src="/static/images/logo-media.svg" width="550" height="77" loading="lazy" alt="" class="header-logo-svg">
            </div>
            <div class="media-wrap">
                <!-- <div class="header-logo-media-subtitle">Media</div> -->
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="nav-inner" data-pgc="nav-inner"><a href="/" class="nav-link w-inline-block w--current"> <div>Home</div> </a>
            <img src="/static/images/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot"><a href="{{ navigation.about }}" aria-current="page" class="nav-link w-inline-block"> <div>About</div> </a>
            <img src="/static/images/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot mobile-hide"><a href="{{ navigation.portfolio }}" class="nav-link w-inline-block"> <div>Portfolio</div> </a>
            <img src="/static/images/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot"><a href="{{ navigation.blog }}" class="nav-link w-inline-block"> <div>Blog</div> </a>
            <img src="/static/images/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot mobile-hide"><a href="{{ navigation.contact }}" class="nav-link w-inline-block"> <div>Contact</div> </a>
            <img src="/static/images/menu-dot-white.svg" loading="lazy" alt="" class="menu-dot"><a href="{{ navigation.contact }}" class="nav-link w-inline-block nav-link__cta"> <div>Book Us</div> </a>
        </div>
    </div>
</div>
