---
layout: layouts/base.njk
section: home
---

<div class="wf-section">
    <div class="container w-container">
        <div class="section-block-1 bg">
            <div data-poster-url="/static/images/hero-poster.jpeg" data-video-urls="/static/images/hero.mp4,/static/images/hero.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false" class="w-background-video w-background-video-atom">
                <video id="16ad9ea4-1777-0eb0-9ae1-521b4c82b2a8-video" autoplay="" loop="" style="background-image:url('/static/images/hero-poster.jpeg')" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                    <source src="/static/images/hero.mp4" data-wf-ignore="true">
                    <source src="/static/images/hero.webm" data-wf-ignore="true">
                </video>
            </div>
        </div>
    </div>
</div>

<div class="section wf-section">
    <div class="container _976 w-container">
        <div>
            <div data-w-id="1c7face1-36bf-7735-a595-d043350cf293" style="opacity: 1;" class="smallcaps">Film • Video Production • Animation</div>
            <h2 data-w-id="5cc6b767-6ae4-f8d5-3104-d30e3ad86fc1" style="opacity: 1;" class="heading">{{ section-1-heading }}</h2>
            <div data-w-id="274ffd1c-a279-1e51-84d7-c7f7d16f7d56" style="opacity: 1;">We create compelling, high-quality video and film production that will deliver results for your business.</div>
        </div>
    </div>
</div>

<div class="section light wf-section">
    <div class="container _976 w-container">
        <div class="mt60">
            <h2 data-w-id="4e94820c-da3d-dc2f-8be7-a5885cddfb51" style="opacity: 1;" class="heading mb40">We'll help you...</h2>
            <div data-w-id="aa2fe41e-cf4e-e82e-18e1-5431b7359d4e" style="opacity: 1;" class="w-layout-grid l-homecard-grid">
                <div id="w-node-_0b20fdb9-d3a7-07ba-d51d-b2a0ef96e046-26e01e98" class="c-homecard">
                    <div class="c-homecard__icon">video_camera_front</div>
                    <div class="c-homecard__heading">Create a compelling video</div>
                    <div class="c-homecard__text">We have the tools and know-how to make your project shine with creativity and quality.</div>
                </div>
                <div id="w-node-_97e33198-9f9d-78d0-e477-5ceab7e300db-26e01e98" class="c-homecard">
                    <div class="c-homecard__icon">group_add</div>
                    <div class="c-homecard__heading">Reach the right audience</div>
                    <div class="c-homecard__text">We can help your business generate leads and increase sales with quality video production.</div>
                </div>
                <div id="w-node-_547b93b1-c6c3-5270-3817-3ea4035f6adb-26e01e98" class="c-homecard">
                    <div class="c-homecard__icon">app_registration</div>
                    <div class="c-homecard__heading">Utilize every marketing channel</div>
                    <div class="c-homecard__text">Our team of ultra-talented creatives will work with you to deliver customized solutions for each of your marketing channels, so you can dominate every aspect of your lead generation funnel.</div>
                </div>
                <div id="w-node-_55b64049-c299-9786-228c-cc495800062c-26e01e98" class="c-homecard">
                    <div class="c-homecard__icon">trending_up</div>
                    <div class="c-homecard__heading">Tell a great story</div>
                    <div class="c-homecard__text">We drive more emotional and connected messages for brands by harnessing the power of video.</div>
                </div>
            </div>
        </div>
    </div>
</div>
